body {
    background-color: #f5f7fa;
    padding: 60px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}

.bio,
.projects,
.jobs,
.education {
    margin-bottom: 50px;
}

.right-side {
    width: 830px;
    padding: 50px 100px 50px 100px;
}

.bio__title {
    font-size: 46px;
    line-height: 1;
    margin-bottom: 20px;
    color: #2a2a2a;
}

.bio__profession {
    font-size: 30px;
    line-height: 2;
    margin-bottom: 20px;
    color: #2a2a2a;
}

.bio__about {
    font-size: 14px;
    line-height: 1.6;
    color: #595959;
}

.projects__title {
    margin-bottom: 10px;
    color: #2a2a2a;
    font-size: 22px;
    line-height: 1;
}

.projects__link {
    color: #220fdc;
    font-size: 14px;
    line-height: 2;
}

.projects__link:hover,
.projects__link:focus {
    color: #ff6b08;
}

.jobs__title,
.education__title {
    color: #2a2a2a;
    font-size: 22px;
    line-height: 1;
}

.jobs__profession,
.education__degree {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 10px;
}

.jobs__time,
.education__time {
    color: #828282;
    font-size: 12px;
    line-height: 1;
}

.experience__item {
    color: #595959;
    font-size: 14px;
    line-height: 1.6;
}

.accent {
    color: #ff6b08;
}

/* ========= left-side ========= */

.left-side {
    width: 370px;
    background-color: #1e2939;
    color: #fff;
}

.skills__title {
    font-size: 22px;
    line-height: 1;
}

.skills__item {
    font-size: 16px;
    line-height: 1.4;
}

.skills__list {
    list-style: none;
    padding-left: 0;
}

.skills__item::before {
    content: "\2022";
    margin-right: 8px;
    color: #ff6b08;
    font-size: 20px;
}

.photo {
    width: 370px;
}

.photo,
.contacts,
.skills,
.widget {
    margin-bottom: 60px;
}

.contacts,
.skills,
.widget {
    padding-left: 40px;
}

.contacts__title,
.skills__title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.contacts__list {
    list-style: none;
    padding-left: 0;
}

.contacts__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.contacts__link {
    opacity: 0.6;
    color: #ffffff;
    text-decoration: none;
}

.contacts__link:hover,
.contacts__link:focus {
    opacity: 1;
    text-decoration: underline;
}

.widget__link {
    color: #fff;
    background-color: #ff6b08;
    padding-top: 20px;
    padding-right: 43px;
    padding-bottom: 20px;
    padding-left: 43px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 0px 13px 1px rgba(255, 107, 8, 0.4);
}

.widget__link:hover,
.widget__link:focus {
    box-shadow: 0px 6px 32px 1px rgba(255, 107, 8, 0.92);
}

.widget:hover {
    animation: shake 1s;
}

.photo:hover {
    animation: pulse 1s;
}